body {
  font-family: monospace;
  background-color: #282a36;
  color: #f8f8f2;
  font-size: 1.2em;
}

a {
  color: #f8f8f2;
  text-decoration: none;
}

a:hover {
  color: #d4d4b0;
  text-decoration: none;
}

nav {
  float: right;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.xml-tag {
  color: #f1fa8c;
}

.xml-string {
  color: #f1fa8c;
}

.md-heading {
  color: #8be9fd;
}

.md-list-item-bullet {
  color: #f1fa8c;
}

.textile-lnk-txt {
  color: #8be9fd;
}

.textile-lnk-url {
  color: #f1fa8c;
}

@keyframes blinking {
   50% {
     background-color: transparent;
   }
 }

#current-cmd::after {
  background-color: #ec407a;
  animation-duration: 1s;
  animation-name: blinking;
  animation-iteration-count: infinite;
  animation-timing-function: step-start;
  color: transparent;
  content: ".";
}

/*# sourceMappingURL=style.css.map */
